[Desktop Entry]
Name=SFXR Qt
GenericName=Sound effect generator
Comment=Sound effect generator
Type=Application
Exec=sfxr-qt
Icon=sfxr-qt
Terminal=false
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
